In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# making dataframe
df = pd.DataFrame(
    {"a": [1,2,3], "b": [4,5,6], "c": [7,8,9]}, index = [1,2,3])

df2 = pd.DataFrame(
    [[1,4,7], [2,5,8], [3,6,9]], index = [1,2,3], columns = ["a", "b", "c"])
df
df2

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [23]:
# multiindexing
dfMultiIndex = pd.DataFrame(
    {"a": [1,2,3], "b": [4,5,6], "c": [7,8,9]}, index = pd.MultiIndex.from_tuples([("d",1),("d",2),("e",2)], names = ["x1","x2"]))
dfMultiIndex

       a  b  c
x1 x2
d  1   1  4  7
   2   2  5  8
e  2   3  6  9

In [24]:
df

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [25]:
# Index
# loc uses labels
# iloc uses indices
df.loc[1, "c"]
df.iloc[0, 2]

7

In [26]:
# concatination
pd.concat([df,df], axis = 1) # hstack
pd.concat([df,df], axis = 0) # vstack

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9
1  1  4  7
2  2  5  8
3  3  6  9

In [27]:
# sorting
df.sort_values("a", ascending = False)
df.sort_values(1, axis = 1, ascending = False)

   c  b  a
1  7  4  1
2  8  5  2
3  9  6  3

In [28]:
# deleting a value from df
df.drop(columns = "a")

   b  c
1  4  7
2  5  8
3  6  9